extends baseEmail
block content
    p=`Hi ${firstName},`
        p Forgot your password? Please use the token below to reset your password:
        h1 #{token}
        p If you didn't forget your password, please ignore this email!                                        
        p If you need any help with booking your next property, please don't hesitate to contact me!
        p - Bristol Dinma, CEO
